<div class="container mx-auto my-28 px-3 grid gap-5 grid-cols-[1fr_min-content] grid-rows-[auto_auto_1fr]">
  {% comment %}
     <div class="row">
      <div class="col-12 text-center">
        <h1>{{ 'customer.account.title' | t }}</h1>
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      </div>
    </div>
  {% endcomment %}
  <div class="mb-12 col-span-full">
    <h1 class="text-4xl font-bold font-avenir uppercase">{{ 'customer.account.details' | t }}</h1>
    <p class="text-lg">Enter your details to sign up for an account.</p>
  </div>
  {% paginate customer.orders by 2 %}
  {% comment %} order history {% endcomment %}
  <div class="border border-current">
    <div class="border-b border-current p-3">
      <h2 class="font-semibold">{{ 'customer.orders.title' | t }}</h2>
      <p>Find all transactions below</p>
    </div>
    {% if customer.orders.size != 0 %}
      <table class="w-full text-base">
        <thead>
          <tr>
            <th scope="col" class="text-start font-semibold p-3 pl-4">{{ 'customer.orders.order_number' | t }}</th>
            <th scope="col" class="text-start font-semibold p-3">{{ 'customer.orders.date' | t }}</th>
            <th scope="col" class="text-start font-semibold p-3">{{ 'customer.orders.total' | t }}</th>
            <th scope="col" class="text-start font-semibold p-3">{{ 'customer.orders.quantity' | t }}</th>
            <th scope="col" class="text-start font-semibold p-3 pr-4">{{ 'customer.orders.fulfillment_status' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in customer.orders %}
            <tr class="border-t border-current">
              <th data-label="{{ 'customer.orders.order_number' | t }}" scope="row" class="text-start font-semibold p-3 pl-4">
                <a
                  href="{{ order.customer_url }}"
                  aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                >
                  {{- order.name -}}
                </a>
              </th>
              <td data-label="{{ 'customer.orders.date' | t }}" class="text-start p-3">
                {{ order.created_at | date: format: 'basic' }}
              </td>
              <td data-label="{{ 'customer.orders.total' | t }}" class="text-start p-3">
                {{ order.total_price | money }}
              </td>
              <td data-label="{{ 'customer.orders.quantity' | t }}" class="text-start p-3">
                {{ order.line_items.size }}
              </td>
              <td data-label="{{ 'customer.orders.fulfillment_status' | t }}" class="text-start text-sm p-3 pr-4">
                <span class="inline-block px-2 py-1 bg-[#F4F4F4]">{{ order.fulfillment_status_label }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}
  </div>
  {% comment %} personal info {% endcomment %}
  <div class="row-span-2 flex flex-col p-7 bg-[#F4F4F4] min-w-[32ch] text-lg">
    <h2 class="min-w-max font-bold text-xl mb-2">Shipping & Payment</h2>
    <p class="mb-4 pb-4 border-b border-current">Edit Details Below<p>
    <h3 class="font-bold mb-3">My Addresses<h3>
    <p class="mb-0">
      {% if customer.default_address %}
        <span class="text-[#F0613B]">Default</span>
      {% else %}
        {{ 'customer.addresses.empty' | t }}
      {% endif %}
    </p>
    {{ customer.default_address | format_address }}
    <p class="mt-1 mb-3">
      <a class="text-[#F0613B] underline" href="{{ routes.account_addresses_url }}">{{ 'customer.addresses.edit' | t }}</a>
    </p>
    {% for address in customer.addresses %}
      {% if address != customer.default_address %}
        {{ address | format_address }}
        <p class="mt-1 mb-3">
          <a class="text-[#F0613B] underline" href="{{ routes.account_addresses_url }}">{{ 'customer.addresses.edit' | t }}</a>
        </p>
      {% endif %}
    {% endfor %}
    <h3 class="font-bold mb-3">My Payment Methods<h3>
    <p class="text-base mt-4 pt-4 mb-2 border-t border-current">Have Questions About Your Account?</p>
    <a class="text-base underline" href="mailto:info@ubuntulife.com">info@ubuntulife.com</a>
  </div>
  {% comment %} paginate navigation {% endcomment %}
  <div class="flex items-stretch h-[min-content]">
    {% if customer.orders.size != 0 %}
      {% if paginate.previous.is_link %}
        <a class="grid place-content-center px-2 mr-auto border border-current" href="{{ paginate.previous.url }}">< Prev</a>
      {% elsif paginate.parts.size > 0 %}
        <span class="grid place-content-center px-2 mr-auto border border-current">< Prev</span>
      {% endif %}
      {% for part in paginate.parts %}
        {% if part.is_link %}
          <a class="grid place-content-center h-[2.4em] [aspect-ratio:1]" href="{{ part.url }}">{{ part.title }}</a>
        {% else %}
          <span class="grid place-content-center border border-current h-[2.2em] [aspect-ratio:1]">{{ part.title }}</span>
        {% endif %}
      {% endfor %}
      {% if paginate.next.is_link %}
        <a class="grid place-content-center px-2 ml-auto border border-current" href="{{ paginate.next.url }}">Next ></a>
      {% elsif paginate.parts.size > 0 %}
        <span class="grid place-content-center px-2 ml-auto border border-current">Next ></span>
      {% endif %}
    {% endif %}
  </div>
  {% endpaginate %}
</div>
