<div class="w-screen flex flex-col items-center px-4">
  <header class="flex flex-col items-center mt-4 lg:mt-10">
    <h1 class="text-3xl lg:text-4xl text-neutral-700 font-black uppercase">{{ 'customer.addresses.title' | t }}</h1>
    <button onclick="toggleNewAddress()" type="button" class="mt-4 bg-black text-white font-bold py-2 px-4 uppercase lg:text-lg" data-bs-toggle="collapse" data-bs-target="#AddressNewForm"
      id="AddressNewButton" aria-expanded="false" aria-owns="AddressNewForm">{{ 'customer.addresses.add_new' | t
      }}</button>
  </header>

  <div class="mt-10 w-full max-w-xs lg:max-w-3xl 2xl:max-w-7xl">
    <div id="AddressNewForm" class="hidden">
      {% form 'customer_address', customer.new_address %}
        <div class="flex flex-col">
          <h2 class="text-2xl text-neutral-700 uppercase font-bold">{{ 'customer.addresses.add_new' | t }}</h2>

          <div class="flex flex-col lg:flex-row lg:gap-4 lg:w-full">
            <div class="flex flex-col lg:flex-grow">
              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressFirstNameNew" name="address[first_name]"
                value="{{ form.first_name }}" autocomplete="given-name">
            </div>

            <div class="flex flex-col lg:flex-grow">
              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressLastNameNew" name="address[last_name]"
                value="{{ form.last_name }}" autocomplete="family-name">
            </div>
          </div>

          <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressCompanyNew" name="address[company]"
            value="{{ form.company }}" autocomplete="organization">

          <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
          <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressAddress1New" name="address[address1]"
            value="{{ form.address1 }}" autocomplete="street-address address-line1">

          <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressAddress2New" name="address[address2]"
            value="{{ form.address2 }}" autocomplete="street-address address-line2">

          <div class="flex flex-col lg:flex-row lg:gap-4 lg:w-full">
            <div class="flex flex-col lg:flex-grow">
              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}"
                autocomplete="address-level2">
            </div>

            <div class="flex flex-col lg:flex-grow">
              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <select 
                class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl bg-white" 
                id="AddressCountryNew" 
                name="address[country]" 
                data-default="{{ form.country }}"
                autocomplete="country">{{ all_country_option_tags }}</select>
            </div>
          </div>

          <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
          {%- comment -%} <select 
            class="form-select" 
            id="AddressProvinceNew" 
            name="address[province]"
            data-default="{{ form.province }}" 
            autocomplete="address-level1"
          ></select> {%- endcomment -%}
          <input 
            class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" 
            type="text" 
            id="AddressProvinceNew" 
            name="address[province]" 
            value="{{ form.province }}"
            autocomplete="address-level1">

          <div class="flex flex-col lg:flex-row lg:gap-4 lg:w-full">
            <div class="flex flex-col lg:flex-grow">
              <label class="mt-2" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}"
                autocapitalize="characters" autocomplete="postal-code">
            </div>

            <div class="flex flex-col lg:flex-grow">
              <label class="mt-2" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}"
                autocomplete="phone">
            </div>
          </div>

          <div class="flex items-center mt-2">
            {{ form.set_as_default_checkbox }}
            <label class="ml-1 lg:text-lg" for="address_default_address_new"
            >{{ 'customer.addresses.set_default' | t }}</label>
          </div>

          <input 
            type="submit" 
            class="mt-4 bg-black text-white font-bold py-2 px-4 uppercase lg:text-lg lg:py-3 lg:px-8 lg:w-fit lg:mx-auto" 
            value="{{ 'customer.addresses.add' | t }}"
          >
          <button 
            type="button" 
            class="mt-2 lg:text-lg lg:mb-2" 
            onclick="toggleNewAddress()"
          >{{'customer.addresses.cancel' | t }}</button>
        </div>
      {% endform %}
      <hr>
    </div>

    {% comment %}
      List all customer addresses with a unique edit form.
    {% endcomment %}
    {% for address in customer.addresses %}
      <div class="border-t border-neutral-300 py-4 flex flex-col w-full">
        <div class="flex flex-col items-center">
          {% if address == customer.default_address %}
            <h2 class="text-neutral-600 text-sm mb-2 lg:text-lg 2xl:text-xl">{{ 'customer.addresses.default' | t }}</h2>
          {% endif %}

          <div class="text-center lg:text-xl 2xl:text-2xl">
            {{ address | format_address }}
          </div>

          <div class="flex items-center mt-2" aria-label="edit and delte button group">
            <button
              id="EditFormButton_{{ address.id }}"
              type="button"
              class="bg-black text-white text-sm font-bold uppercase tracking-wider py-1 px-4 lg:pt-1.5 lg:text-base"
              data-form-id="{{ address.id }}"
              aria-owns="EditAddress_{{ address.id }}"
              aria-expanded="false"
              onclick="toggleEditAddress('{{ address.id }}')"
            >{{ 'customer.addresses.edit' | t }}</button>
            <form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}"
              data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
              <input type="hidden" name="_method" value="delete">
              <button type="submit"
                class="ml-4 text-red-600 text-sm font-bold uppercase tracking-wider lg:text-base"
                data-target="{{ address.url }}"
                data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                {{ 'customer.addresses.delete' | t }}
              </button>
            </form>
          </div>
        </div>

        <div id="EditAddress_{{ address.id }}" class="mt-5 hidden">
          {% form 'customer_address', address %}
            <div class="flex flex-col">
              <h2 class="text-xl text-neutral-700 uppercase font-bold">{{ 'customer.addresses.edit_address' | t }}</h2>

              <div class="flex flex-col lg:flex-row lg:gap-4 lg:w-full">
                <div class="flex flex-col lg:flex-grow">
                  <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t
                    }}</label>
                  <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]"
                    value="{{ form.first_name }}" autocomplete="given-name">
                </div>

                <div class="flex flex-col lg:flex-grow">
                  <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t
                    }}</label>
                  <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]"
                    value="{{ form.last_name }}" autocomplete="family-name">
                </div>
              </div>

              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t
                }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressCompany_{{ form.id }}" name="address[company]"
                value="{{ form.company }}" autocomplete="organization">

              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t
                }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]"
                value="{{ form.address1 }}" autocomplete="street-address address-line1">

              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t
                }}</label>
              <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]"
                value="{{ form.address2 }}" autocomplete="street-address address-line2">

              <div class="flex flex-col lg:flex-row lg:gap-4 lg:w-full">
                <div class="flex flex-col lg:flex-grow">
                  <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressCity_{{ form.id }}" name="address[city]"
                    value="{{ form.city }}" autocomplete="address-level2">
                </div>

                <div class="flex flex-col lg:flex-grow">
                  <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t
                    }}</label>
                  <select id="AddressCountry_{{ form.id }}" class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl bg-white"
                    data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}"
                    onchange="updateProvincesCurernt('{{ form.id }}')" autocomplete="country">{{
                    all_country_option_tags }}</select>
                </div>
              </div>

              

              <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t
                }}</label>
              <input 
                class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" 
                type="text" 
                id="AddressProvince_{{ form.id }}" 
                name="address[province]" 
                value="{{ form.province }}"
                autocomplete="address-level1">


              <div class="flex flex-col lg:flex-row lg:gap-4 lg:w-full">
                <div class="flex flex-col lg:flex-grow">
                  <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="text" id="AddressZip_{{ form.id }}" name="address[zip]"
                    value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                </div>
              
                <div class="flex flex-col lg:flex-grow">
                  <label class="mt-2 lg:mt-4 2xl:text-lg" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  <input class="mt-1 border border-black py-1 px-2 lg:py-2 lg:px-3 lg:text-lg 2xl:text-xl" type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]"
                    value="{{ form.phone }}" autocomplete="phone">
                </div>
              </div>

              <div class="flex items-center mt-2">
                {{ form.set_as_default_checkbox }}
                <label class="ml-1" for="address_default_address_{{ form.id }}">{{
                  'customer.addresses.set_default' | t }}</label>
              </div>

              <input 
                type="submit" 
                class="mt-4 bg-black text-white font-bold py-2 px-4 uppercase lg:text-lg lg:py-3 lg:px-8 lg:w-fit lg:mx-auto" 
                value="{{ 'customer.addresses.update' | t }}"
              >
              <button 
                type="button" 
                class="mt-2 lg:mb-2"  
                data-form-id="{{ form.id }}"
                onclick="toggleEditAddress('{{ address.id }}')"
              >{{ 'customer.addresses.cancel' | t }}</button>
            </div>
          {% endform %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  function toggleNewAddress() {
    document.getElementById("AddressNewForm").classList.toggle("hidden");
  }

  function toggleEditAddress(id) {
    document.getElementById(`EditAddress_${id}`).classList.toggle("hidden");
  }
</script>