<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="theme-color" content="{{ settings.color_button }}">

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png">

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}:
      {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%}
      &ndash;
      {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash;
      {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash;
      {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <!-- CSS -->
  {{ 'swiper.min.css' | asset_url | stylesheet_tag }}
  {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
  {{ 'fonts.css' | asset_url | stylesheet_tag }}

  <!-- Javascript -->
  <script src="{{ 'vue.min.js' | asset_url }}" async></script>
	<script src="{{ 'ud-theme.js' | asset_url }}" async></script>
	<script src="{{ 'swiper.min.js' | asset_url }}" async></script>

	<script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>
	<script src="{{ 'rivets-cart.min.js' | asset_url }}"></script>

  {{ content_for_header }}
</head>

<body class="template-{{ request.page_type | handle }} overflow-x-hidden bg-white font-avenir">

  {%- comment -%}{% include 'ud-cart' %}{%- endcomment -%}

  <div id="PageContainer">
    <div id="HeaderContainer" class="z-50 sticky top-0 max-h-screen">
      {% section 'header' %}
    </div>
    <main id="MainContent">
      {{ content_for_layout }}
      <h1 class="font-ubuntulife font-bold">body-test-tag</h1>
    </main>
    {% section 'footer' %}
  </div>
</body>
</html>
