<div class="relative w-screen h-[32rem] md:h-[36rem]">
  <img class="md:hidden w-full h-full object-cover" src="{{ section.settings.header_img_mobile | image_url: width: 1024 }}" alt="Tribe woman">
  <img class="hidden md:block w-full h-full object-cover" src="{{ section.settings.header_img_desktop | image_url: width: 2048 }}" alt="Tribe woman">
  <!-- Mobile text -->
  <div class="md:hidden absolute top-20 left-1/2 -translate-x-1/2 flex flex-col items-center w-80 text-white">
    <h1 class="font-ubuntulife font-bold text-2xl">{{ section.settings.heading_1_mobile }}</h1>
    <h2 class="font-black text-4xl">{{ section.settings.heading_2_mobile }}</h2>
    <p class="mt-5 text-center">{{ section.settings.heading_text_mobile }}</p>
  </div>
  <!-- Desktop text -->
  <div class="hidden absolute top-1/2 left-1/2 lg:left-2/3 -translate-y-1/2 -translate-x-1/2 md:-translate-x-1/3 md:flex flex-col items-center text-white">
    <h1 class="font-ubuntulife font-bold text-2xl">{{ section.settings.heading_1_desktop }}</h1>
    <h2 class="font-black text-5xl">{{ section.settings.heading_2_desktop }}</h2>
    <p class="mt-5 text-center font-medium text-lg xl:w-max xl:max-w-2xl">{{ section.settings.heading_text_desktop }}</p>
  </div>
</div>
<div class="flex flex-col lg:flex-row lg:justify-center px-3 my-3 lg:px-16 sm:my-16 max-w-screen-sm lg:max-w-none mx-auto">
  <img class="w-full lg:object-cover lg:w-1/2 lg:max-w-lg lg:aspect-square" src="{{ 'cofounders.jpg' | file_img_url: '768x' }}" alt="Image of the founders">
  <div class="mt-8 lg:mt-0 lg:ml-24 flex flex-col lg:max-w-2xl">
    <h3 class="font-black text-neutral-800 text-3xl lg:text-4xl">HISTORY</h3>
    <p class="mt-4">{{ section.settings.history_text }}</p>
  </div>
</div>
<div class="bg-downy-300 px-3 py-24 flex flex-col text-white items-center">
  <p class="font-ubuntulife font-bold text-4xl lg:text-5xl">UBUNTU</p>
  <p class="mt-2 lg:text-2xl lg:font-light">[OO-<span class="lg:italic">BUHN</span>-TOO] NOUN</p>
  <p class="mt-2 text-center max-w-xs lg:max-w-xl lg:text-2xl lg:font-medium">
    The Belief that we are defined by our compassion and humanity towards others; I am Because We are
  </p>
</div>
<div>
  <p>WHAT WE DO</p>
  <p> 
    At Ubuntu Life, we provide mothers of children with special needs and others in our community with sustainable employment creating beautiful products for sale in Kenya and internationally.
  </p>
  <div class="swiper w-screen overflow-hidden">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <img class="" src="{{ block.settings.image | image_url: width: 1024 }}" alt="Cover photo">
          <p class="">{{ block.settings.heading }}</p>
          <p>{{ block.settings.text }}</p>
          <a class="" href="{{ block.settings.url }}">{{ block.settings.btn_copy }}</a>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination">
  </div>
</div>
<div>
  <img src="" alt="">
  <p>HOW WE DO IT</p>
  <p>
    Every purchase empowers. We pride ourselves on being able to create our quality handmade products for our customers, all while providing our Maker Mums and Maker Men with sustainable employment, health insurance, and a living wage well above the standard income for the Maai Mahiu area. 
    This is because we source materials locally, and make our handcrafted products in our own factory in Maai Mahiu, allowing us to control and optimize every element of the production process. We’re able to pass our cost-savings and profits on to our empowered Makers, investing in their wellbeing, and that of the local community.
  </p>
</div>
<div>
  <img src="" alt="">
  <p>WHY WE DO IT</p>
  <p>
    Ubuntu is a Swahili word meaning, I am because we are. This is the driving philosophy behind everything we do at Ubuntu Life. We are all connected, and strive to remind our customers of that connection with every handcrafted product that our Makers in Maai Mahiu create. And of course there are our special needs kiddos, the heart of Ubuntu Life, who receive educational and medical care from our Ubuntu Life Foundation. They are why we do what we do each day.
  </p>
  <div class="swiper w-screen overflow-hidden">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- SVG -->
        <p>90+<span>jobs</span></p>
        <p>Both full-time and part-time jobs created through several of our social enterprises.</p>
      </div>
      <div class="swiper-slide">
        <!-- SVG -->
        <p>200+<span>mums</span></p>
        <p>We provide part-time employment to 200 Maasai Maker Mums from the Ngong Hills.</p>
      </div>
      <div class="swiper-slide">
        <!-- SVG -->
        <p>70+<span>kids</span></p>
        <p>Ubuntu Life Foundation provides life-changing individualized education and therapy to 70+ Kids.</p>
      </div>
    </div>
  </div>
</div>
<div>
  <p>WHO WE ARE</p>
  <p>Ubuntu Life is a global lifestyle brand out of Africa, based in Kenya.</p>
  <div>
    <div>
      <img src="" alt="">
      <p>36 DEGREES</p>
      <p>Located at 1° South, 36° East, the bustling transit hub of Maai Mahiu is the gateway to Kenya’s famed Great Rift Valley, and the town we are honored to call our home. In fact, we’ve sewn a 36° stitch into every Ubuntu Life product to honor our commitment to this special place and its beautiful people.</p>
    </div>
    <div>
      <img src="" alt="">
      <p>OUR FOUNDATION</p>
      <p>With every product made, we’re transforming lives. We do this both by providing empowered employment to the local Maai Mahiu community, as well as through our Ubuntu Life Foundation, which provides educational and medical care to children with special needs in the region.</p>
    </div>
    <div>
      <img src="" alt="">
      <p>LOCAL</p>
      <p>Our handmade bracelets, bags and espadrilles are made by our powerful Makers in Kenya, and connect people around the world - from their hands to yours.</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About content",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_img_mobile",
      "label": "Header mobile image"
    },
    {
      "type": "image_picker",
      "id": "header_img_desktop",
      "label": "Header desktop image"
    },
    {
      "type": "text",
      "id": "heading_1_mobile",
      "label": "Heading top for mobile"
    },
    {
      "type": "text",
      "id": "heading_2_mobile",
      "label": "Main heading for mobile"
    },
    {
      "type": "text",
      "id": "heading_text_mobile",
      "label": "Heading paragraph for mobile"
    },
    {
      "type": "text",
      "id": "heading_1_desktop",
      "label": "Heading top for desktop"
    },
    {
      "type": "text",
      "id": "heading_2_desktop",
      "label": "Main heading for desktop"
    },
    {
      "type": "text",
      "id": "heading_text_desktop",
      "label": "Heading paragraph for desktop"
    },
    {
      "type": "textarea",
      "id": "history_text",
      "label": "Text body for history section"
    }
  ]
}
{% endschema %}