<div class="relative w-screen h-screen max-h-[32rem] 2xl:max-h-[40rem]">
  {%- comment -%}swiper arrows{%- endcomment -%}
    <svg class="swiper-button-prev unset-swiper-styling left-6 xl:left-24 bottom-10 xl:bottom-28 cursor-pointer w-12 h-12 p-4 rounded-full bg-white -rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>
    <svg class="swiper-button-next unset-swiper-styling left-24 xl:left-44 bottom-10 xl:bottom-28 cursor-pointer w-12 h-12 p-4 rounded-full bg-white rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>
  {%- comment -%}Preview squares{%- endcomment -%}
  <div class="hidden lg:absolute z-10 bottom-0 right-0 lg:flex">
    {% for article in blog.articles %}
      {% if forloop.index0 < 3 %}
        <p onclick="heroSwiper.slideTo('{{ forloop.index0 }}', 300)" class="article-preview bg-white bg-opacity-70 cursor-pointer mr-2 last:mr-0 py-2 px-5 w-64 {% if forloop.first == true %}text-black{% else %}text-neutral-600{% endif %}">
          {{ article.title }}
        </p>
      {% endif %}
    {% endfor %}
  </div>
  <div class="relative swiper w-full h-full overflow-x-hidden">
    {%- comment -%}Actual slides{%- endcomment -%}
    <div class="swiper-wrapper">
      {% for article in blog.articles %}
        {% if forloop.index0 < 3 %}
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 2560px)" srcset="{{ article.image | image_url: width: 3840 }}">
              <source media="(min-width: 1280px)" srcset="{{ article.image | image_url: width: 2560 }}">
              <source media="(min-width: 640px)" srcset="{{ article.image | image_url: width: 1280 }}">
              <source media="(max-width: 639px)" srcset="{{ article.image | image_url: width: 640 }}">
              <img class="absolute top-0 left-0 w-full h-full object-cover" src="{{ article.image | image_url: width: 2560 }}" alt="{{ article.image.alt }}">
            </picture>
            <div class="relative w-full h-full flex flex-col pt-12 xl:pt-28 px-6 xl:px-24 text-white bg-black bg-opacity-25">
              <span class="font-medium uppercase">{{ article.published_at | date: '%B %Y' }}</span>
              <h1 class="mt-1 text-2xl lg:text-4xl lg:w-1/2 font-black uppercase">{{ article.title }}</h1>
              <p class="mt-2 font-medium">{{ article.excerpt }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="flex flex-col lg:flex-row lg:items-center lg:max-w-4xl lg:mx-auto lg:pl-10 xl:max-w-screen-xl xl:pl-6 2xl:max-w-[106rem] mt-8 md:mt-16 pl-5">
  <h2 class="lg:mr-16 text-neutral-700 font-black text-xl lg:text-2xl">CATEGORIES</h2>
  <div class="flex mt-4 lg:mt-0 overflow-x-auto">
    <!-- tags to filter by -->
    <!-- How to get tag list? Or use customizer? -->

    <!-- 'Dummy' tags -->
    <span class="border border-black rounded-md pt-3 pb-2 px-5 mr-2 uppercase whitespace-nowrap">ALL ARTICLES</span>
    <span class="bg-downy-300 rounded-md pt-3 pb-2 px-5 mr-2 uppercase whitespace-nowrap">COMMUNITY</span>
    <span class="border border-black rounded-md pt-3 pb-2 px-5 mr-2 uppercase whitespace-nowrap">DESIGN</span>
    <span class="border border-black rounded-md pt-3 pb-2 px-5 mr-2 uppercase whitespace-nowrap">FASHION</span>
  </div>
</div>

{% paginate blog.articles by 12 %}
  <div class="mt-6 sm:mt-10 px-5 grid grid-cols-1 gap-6 overflow-x-hidden w-fit mx-auto justify-items-center lg:grid-cols-2 lg:gap-10 xl:gap-y-16 xl:grid-cols-3 2xl:grid-cols-4">
    {% for article in blog.articles %}
      <a class="flex sm:flex-col max-w-sm" href="{{ article.url }}">
        <picture class="w-5/12 h-36 sm:h-96 sm:w-96">
          <source media="(min-width: 640px)" srcset="{{ article.image | image_url: height: 512 }}">
          <source media="(max-width: 639px)" srcset="{{ article.image | image_url: height: 256 }}">
          <img class="w-full min-w-full h-full object-cover" src="{{ article.image | image_url: height: 512 }}" alt="{{ article.image.alt }}">
        </picture>
        <div class="w-7/12 pl-6 pt-1 sm:w-full sm:mt-6 sm:pl-0 sm:pt-0">
          <p class="text-sm sm:text-xl text-neutral-600 font-black uppercase">{{ article.title }}</p>
          <div class="mt-2 flex items-center text-neutral-400 sm:mt-5">
            <svg class="h-3 w-3 sm:h-4 sm:w-4" width="14" height="13" viewBox="0 0 14 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.12139 0.961192C1.0789 0.961192 1.03816 0.97807 1.00811 1.00811C0.97807 1.03816 0.961192 1.0789 0.961192 1.12139V9.13133C0.961192 9.21976 1.03296 9.29153 1.12139 9.29153H2.72338C2.85084 9.29153 2.97308 9.34216 3.06321 9.43229C3.15334 9.52242 3.20397 9.64466 3.20397 9.77212V11.8163L5.58773 9.4325C5.67777 9.34235 5.79993 9.29164 5.92735 9.29153H12.3353C12.3778 9.29153 12.4185 9.27465 12.4486 9.24461C12.4786 9.21456 12.4955 9.17381 12.4955 9.13133V1.12139C12.4955 1.0789 12.4786 1.03816 12.4486 1.00811C12.4185 0.97807 12.3778 0.961192 12.3353 0.961192H1.12139ZM0 1.12139C0 0.502383 0.502383 0 1.12139 0H12.3353C12.9543 0 13.4567 0.502383 13.4567 1.12139V9.13133C13.4567 9.42874 13.3385 9.71397 13.1282 9.92427C12.9179 10.1346 12.6327 10.2527 12.3353 10.2527H6.126L3.83644 12.5423C3.70587 12.6728 3.53954 12.7617 3.35847 12.7976C3.17741 12.8336 2.98974 12.8152 2.81918 12.7445C2.64862 12.6739 2.50283 12.5543 2.40023 12.4008C2.29764 12.2473 2.24285 12.0669 2.24278 11.8823V10.2527H1.12139C0.82398 10.2527 0.53875 10.1346 0.328448 9.92427C0.118146 9.71397 0 9.42874 0 9.13133V1.12139Z" fill="currentColor" />
            </svg>
            <p class="ml-2 text-sm sm:text-base">{{ article.comments_count }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    <div id="pagination-wrapper">
      {{ paginate | default_pagination }}
    </div>
  {% endif %}
{% endpaginate %}

<style>
  .unset-swiper-styling {
    top: unset;
  }

  #pagination-wrapper {
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  #pagination-wrapper > * {
    margin-left: 6px;
    margin-right: 6px; 
  }

  #pagination-wrapper .current {
    color: rgb(96, 205, 203);
  }

  @media (min-width: 640px) {
    #pagination-wrapper {
      margin-top: 32px;
      margin-bottom: 32px;
      font-size: 20px;
    }
  }
</style>

<script>
  let heroSwiper;
  document.addEventListener("DOMContentLoaded", () => {
    heroSwiper = new Swiper(".swiper", {
      slidesPerView: 'auto',
      navigation: {
        prevEl: '.swiper-button-prev',
        nextEl: '.swiper-button-next',
      },
    });
    
    heroSwiper.on('slideChange', () => {
      let articlePreviews = document.querySelectorAll(".article-preview");

      articlePreviews.forEach((el) => {
        el.classList.remove("text-black");
        el.classList.add("text-neutral-600");
      });

      articlePreviews.item(heroSwiper.activeIndex).classList.remove("text-neutral-600");
      articlePreviews.item(heroSwiper.activeIndex).classList.add("text-black");
    });
  });
</script>