{% for block in section.blocks %}
  {% if block.type == "info" %}
    <div id="{{ block.settings.faqid }}-acc" class="acc-wrapper flex flex-col mt-20">
      <p class="text-2xl lg:text-3xl text-gray-700 font-bold uppercase">{{ block.settings.title }}</p>
      <p class="text-lg mt-4">{{ block.settings.description }}</p>
      <a href="/pages/faq" class="sm:hidden mt-3 text-md text-downy-500">
        View More Frequently Asked Questions
      </a>
      {% for inner_block in section.blocks %}
        {% if inner_block.type == "faq" and inner_block.settings.faqid == block.settings.faqid %}
          <div class="transition border border-black hover:bg-neutral-50 mt-3 p-5">
            <div class="accordion-header cursor-pointer transition flex">
              <p class="min-w-full pr-10 text-md sm:text-lg font-bold">{{ inner_block.settings.question }}</p>
              <div id="{{forloop.index}}" class="plus-icon relative">
                <div id="circle" class="absolute top-1/2 -translate-y-1/2 right-0 w-7 h-7 rounded-full bg-downy-400" viewBox="0 0 24 24"></div>
                <svg
                  id="{{forloop.index}}-vertical-line"
                  class="vertical-line absolute top-1/2 -translate-y-1/2 right-0.5 transition duration-500 rotate-90 stroke stroke-black"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  stroke-linecap="round"
                >
                  <path class="" d="M19,12 H5"></path>
                </svg>
                <svg
                  id="horizontal-line"
                  class="absolute top-1/2 -translate-y-1/2 right-0.5 stroke-black stroke"
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  stroke-linecap="round"
                >
                  <path class="" d="M19,12 H5"></path>
                </svg>
              </div>
            </div>
            <div class="accordion-content overflow-hidden max-h-0">
              <p class="leading-6 font-light mt-5">
                {{ inner_block.settings.answer }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

<script>
let iconArray = document.querySelectorAll('.plus-icon');


for (let i = 2; i < iconArray.length + 2; i++) {

const accordionHeader = document.querySelectorAll(".accordion-header");
accordionHeader.forEach((header) => {
  document.getElementById(i).addEventListener("click", function () {
    document.getElementById( i + '-vertical-line').classList.toggle('rotate-90');
    const accordionContent = header.parentElement.querySelector(".accordion-content");
    let accordionMaxHeight = accordionContent.style.maxHeight;
    header.addEventListener("click", function () {
     // Condition handling
     if (accordionMaxHeight == "0px" || accordionMaxHeight.length == 0) {
       document.getElementById( i + '-vertical-line').classList.remove('rotate-90');
       accordionContent.style.maxHeight = `${accordionContent.scrollHeight + 32}px`;
       header.parentElement.classList.add("bg-neutral-50");
      } else {
        document.getElementById( i + '-vertical-line').classList.add('rotate-90');
        accordionContent.style.maxHeight = `0px`;
        header.parentElement.classList.remove("bg-neutral-50");
      }
    });
  });
});
}
</script>

{% schema %}
{
  "name": "FAQ Accordion",
  "blocks": [
    {
      "type": "info",
      "name": "Info",
      "settings": [
        {
          "type": "text",
          "id": "faqid",
          "label": "Faq ID"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "description"
        }
      ]
    },
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "faqid",
          "label": "Faq ID"
        },
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
         "type": "textarea",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "FAQ Carousel",
      "category": "Page"
    }
  ]
}
{% endschema %}