<footer>
  <a class="w-full flex flex-col items-center py-16 bg-neutral-50" href="https://www.instagram.com/ubuntu.life" rel="noopener noreferrer" target="_blank">
    <p class="font-ubuntulife font-bold text-3xl text-downy-300">JOIN US ON SOCIAL!</p>
    <p class="font-avenir font-black text-2xl text-neutral-800">@UBUNTU.LIFE</p>
  </a>
  <div class="flex overflow-x-auto">
    {% for block in section.blocks %}
      <img class="object-cover min-w-[14rem] w-56 min-h-[15rem] h-60 lg:min-w-[16rem] lg:w-64 lg:min-h-[18rem] lg:h-72" alt="Ubuntu life photos" src="{{ block.settings.image | image_url: width: 256 }}">
    {% endfor %}
  </div>
  <div class="px-12 max-w-lg lg:max-w-none mx-auto lg:flex lg:mt-14 xl:mt-16 lg:mb-9 lg:justify-evenly xl:max-w-screen-xl">
    <div class="flex lg:flex-col justify-center lg:items-center py-11 lg:py-0 lg:mt-7">
      <img class="w-32 lg:object-contain" src="{{ 'UL_Logo-Black-BeadedTab_1_5.png?' | file_img_url: '128x' }}" alt="Ubuntu Life Logo">
      <div class="hidden lg:flex mt-8 justify-center [&>*]:mx-3 [&>*]:h-5 [&>*]:w-5">
        <a class="flex items-center" href="https://www.facebook.com/ubuntulifekenya" rel="noopener noreferrer" target="_blank">
          <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.0392 0.506013C11.0392 0.229873 10.8146 0.00601312 10.5375 0.00601312H8.02856C5.39852 -0.124528 3.1565 1.88611 3.01071 4.50601V7.20601H0.501785C0.224657 7.20601 0 7.42987 0 7.70601V10.3061C0 10.5822 0.224657 10.8061 0.501785 10.8061H3.01071V17.5061C3.01071 17.7822 3.23537 18.0061 3.5125 18.0061H6.5232C6.80033 18.0061 7.02499 17.7822 7.02499 17.5061V10.8061H9.65434C9.8839 10.8093 10.0864 10.657 10.1461 10.4361L10.8686 7.83601C10.9091 7.68629 10.8776 7.52633 10.7832 7.40298C10.6889 7.27964 10.5425 7.20688 10.3869 7.20601H7.02499V4.50601C7.07671 3.99311 7.51124 3.60343 8.02856 3.60601H10.5375C10.8146 3.60601 11.0392 3.38216 11.0392 3.10601V0.506013Z" fill="black"/>
          </svg>
        </a>
        <a class="flex items-center" href="https://twitter.com/ubuntulifekenya" rel="noopener noreferrer" target="_blank">
          <svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.7871 2.18967C21.9491 2.55967 21.0489 2.80967 20.1025 2.92267C21.079 2.34046 21.8095 1.42414 22.1578 0.34467C21.2404 0.88766 20.2363 1.26987 19.1893 1.47467C17.7415 -0.0656296 15.4356 -0.444179 13.5685 0.55193C11.7014 1.54803 10.7391 3.67011 11.2229 5.72467C7.4635 5.53659 3.96092 3.76717 1.58664 0.856671C1.18521 1.54667 0.954394 2.34667 0.954394 3.19867C0.953484 4.7564 1.73374 6.21157 3.03378 7.07667C2.29142 7.05313 1.56544 6.85326 0.916254 6.49367V6.55367C0.916104 8.77164 2.48481 10.6823 4.66659 11.1216C3.97793 11.3073 3.25591 11.3347 2.55508 11.2016C3.16718 13.0993 4.92256 14.3991 6.92261 14.4356C5.26656 15.731 3.22134 16.4337 1.11596 16.4306C0.743023 16.4307 0.370393 16.409 0 16.3656C2.13707 17.7348 4.62478 18.4615 7.16548 18.4586C15.7661 18.4586 20.4678 11.3606 20.4678 5.20467C20.4678 5.00467 20.4628 4.80267 20.4538 4.60267C21.3683 3.94365 22.1577 3.12757 22.785 2.19267L22.7871 2.18967Z" fill="black"/>
          </svg>
        </a>
        <a class="flex items-center" href="https://www.instagram.com/ubuntu.life" rel="noopener noreferrer" target="_blank">
          <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.40673 0.055C6.38772 0.01 6.7005 0 9.19938 0C11.6983 0 12.0111 0.010833 12.9912 0.055C13.9714 0.099167 14.6404 0.255004 15.2259 0.480834C15.8389 0.711664 16.395 1.0725 16.855 1.53916C17.3233 1.99666 17.6846 2.55 17.9154 3.16166C18.1429 3.745 18.2984 4.41166 18.3436 5.38666C18.3888 6.36583 18.3988 6.6775 18.3988 9.1667C18.3988 11.6567 18.3879 11.9683 18.3436 12.9458C18.2993 13.9208 18.1429 14.5875 17.9154 15.1708C17.6846 15.7826 17.3227 16.3368 16.855 16.795C16.395 17.2617 15.8389 17.6217 15.2259 17.8517C14.6404 18.0783 13.9714 18.2333 12.9929 18.2783C12.0111 18.3233 11.6983 18.3333 9.19938 18.3333C6.7005 18.3333 6.38772 18.3225 5.40673 18.2783C4.42825 18.2342 3.7592 18.0783 3.17379 17.8517C2.55987 17.6216 2.00364 17.261 1.54383 16.795C1.07581 16.3372 0.713633 15.7832 0.482549 15.1717C0.25591 14.5883 0.100357 13.9217 0.055196 12.9467C0.010035 11.9675 0 11.6558 0 9.1667C0 6.67666 0.010872 6.365 0.055196 5.38833C0.09952 4.41166 0.25591 3.745 0.482549 3.16166C0.713974 2.55006 1.07643 1.99609 1.54466 1.53833C2.00383 1.07208 2.5595 0.711204 3.17295 0.480834C3.75837 0.255004 4.42741 0.1 5.40589 0.055H5.40673ZM12.9165 1.70518C11.9464 1.66102 11.6554 1.65185 9.19908 1.65185C6.74285 1.65185 6.45181 1.66102 5.4817 1.70518C4.58434 1.74602 4.09761 1.89518 3.77312 2.02102C3.34409 2.18768 3.03717 2.38518 2.71519 2.70602C2.40998 3.00189 2.17509 3.36209 2.02775 3.76018C1.90146 4.08352 1.75177 4.56852 1.71079 5.46268C1.66646 6.42935 1.65726 6.71935 1.65726 9.1669C1.65726 11.6144 1.66646 11.9044 1.71079 12.871C1.75177 13.7652 1.90146 14.2502 2.02775 14.5735C2.17494 14.971 2.40994 15.3319 2.71519 15.6277C3.01208 15.9319 3.3742 16.166 3.77312 16.3127C4.09761 16.4385 4.58434 16.5877 5.4817 16.6285C6.45181 16.6727 6.74201 16.6819 9.19908 16.6819C11.6562 16.6819 11.9464 16.6727 12.9165 16.6285C13.8139 16.5877 14.3006 16.4385 14.6251 16.3127C15.0541 16.146 15.361 15.9485 15.683 15.6277C15.9883 15.3319 16.2233 14.971 16.3705 14.5735C16.4967 14.2502 16.6464 13.7652 16.6874 12.871C16.7317 11.9044 16.7409 11.6144 16.7409 9.1669C16.7409 6.71935 16.7317 6.42935 16.6874 5.46268C16.6464 4.56852 16.4967 4.08352 16.3705 3.76018C16.2032 3.33268 16.005 3.02685 15.683 2.70602C15.3861 2.40191 15.0246 2.16786 14.6251 2.02102C14.3006 1.89518 13.8139 1.74602 12.9165 1.70518ZM8.02449 11.9924C9.37777 12.5537 10.9405 12.0829 11.755 10.8684C12.5694 9.654 12.408 8.03514 11.3698 7.00406C10.4919 6.12984 9.17195 5.8685 8.02532 6.34187C6.8787 6.81524 6.13104 7.93013 6.13086 9.1669C6.13068 10.4036 6.878 11.5187 8.02449 11.9924ZM5.85565 5.8352C7.05019 4.64491 8.79127 4.18005 10.4231 4.61573C12.0548 5.0514 13.3294 6.32143 13.7666 7.9474C14.2039 9.5734 13.7373 11.3082 12.5428 12.4985C10.6962 14.3386 7.70225 14.3386 5.85565 12.4985C4.00906 10.6585 4.00906 7.67523 5.85565 5.8352ZM14.9772 5.15659C15.2735 4.87813 15.3944 4.46121 15.2928 4.06823C15.1912 3.67525 14.8832 3.36839 14.4889 3.26717C14.0945 3.16596 13.6761 3.2864 13.3966 3.58159C12.9816 4.02 12.9916 4.70779 13.4193 5.13396C13.847 5.56013 14.5373 5.57015 14.9772 5.15659Z" fill="black"/>
          </svg>
        </a>
        <a class="flex items-center" href="https://www.linkedin.com/company/ubuntulife" rel="noopener noreferrer" target="_blank">
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.45522 6.96883H11.1824V8.81883C11.7193 7.75483 13.0962 6.79883 15.1646 6.79883C19.1297 6.79883 20.071 8.91683 20.071 12.8028V19.9998H16.0568V13.6878C16.0568 11.4748 15.5199 10.2268 14.153 10.2268C12.2573 10.2268 11.4695 11.5718 11.4695 13.6868V19.9998H7.45522V6.96883ZM0.572348 19.8298H4.58662V6.79883H0.572348V19.8298ZM5.16136 2.55C5.16166 3.22724 4.88946 3.87633 4.40567 4.352C3.92034 4.83262 3.26342 5.10165 2.57917 5.1C1.89613 5.09954 1.24072 4.8312 0.754688 4.353C0.272716 3.87578 0.001173 3.22704 0 2.55C0 1.873 0.270963 1.225 0.755688 0.747C1.2413 0.268158 1.89699 -0.000299211 2.58018 2.50265e-07C3.26461 2.50265e-07 3.92095 0.269 4.40567 0.747C4.88939 1.225 5.16136 1.873 5.16136 2.55Z" fill="black"/>
          </svg>
        </a>
        <a class="flex items-center" href="https://www.youtube.com/user/ComfortTheChildren" rel="noopener noreferrer" target="_blank">
          <svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7722 0.449045C19.6812 0.698145 20.391 1.41976 20.6351 2.34315C21.075 4.01274 21.075 7.5 21.075 7.5C21.075 7.5 21.075 10.9873 20.6351 12.6568C20.3928 13.5788 19.6802 14.3049 18.7722 14.551C17.1281 15 10.5375 15 10.5375 15C10.5375 15 3.94685 15 2.30272 14.551C1.39716 14.3049 0.682116 13.5788 0.439846 12.6568C-2.98023e-08 10.9873 0 7.5 0 7.5C0 7.5 -2.98023e-08 4.01274 0.439846 2.34076C0.683216 1.41691 1.39327 0.694964 2.30272 0.446656C3.94685 0 10.5375 0 10.5375 0C10.5375 0 17.1281 0 18.7722 0.449045ZM8.44434 4.29932V10.7006L13.9013 7.47607L8.44434 4.29932Z" fill="black"/>
          </svg>
        </a>
      </div>
      <p class="hidden lg:block mt-16 text-neutral-800 w-full text-center text-xs">Copyright © 2022 Ubuntu Life</p>
    </div>
    <div>
      <div class="flex justify-between items-center border-b border-black pb-1 lg:border-b-0" onclick="toggleLinkDropdown(this, 'footer-about-us-links')">
        <p class="font-medium text-lg lg:text-base">ABOUT US</p>
        <svg class="rotate-180 transition-all duration-300 lg:hidden" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
        </svg>
      </div>
      <div id="footer-about-us-links" class="hidden lg:flex flex-col lg:mt-2">
        {% for link in linklists.footer-about-us.links %}
          <a href="{{ link.url }}" class="mt-2 lg:text-sm hover:text-downy-300">{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div>
      <div class="flex justify-between items-center border-b border-black pb-1 mt-7 lg:mt-0 lg:border-b-0" onclick="toggleLinkDropdown(this, 'footer-customer-faq-links')">
        <p class="font-medium text-lg lg:text-base">CUSTOMER FAQ</p>
        <svg class="rotate-180 transition-all duration-300 lg:hidden" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
        </svg>
      </div>
      <div id="footer-customer-faq-links" class="hidden lg:flex flex-col lg:mt-2">
        {% for link in linklists.footer-customer-faq.links %}
          <a href="{{ link.url }}" class="mt-2 lg:text-sm hover:text-downy-300">{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="mt-7 lg:mt-0">
      <p class="font-medium text-lg lg:text-base">JOIN OUR MAILING LIST</p>
      <p class="hidden lg:block max-w-xs mt-5 text-sm">
        Lead a more connected, joyful life daily! Join the Ubuntu community & receive stories of inspiration, limited edition product releases and insider tips from our team.
      </p>
      {% form 'customer', id: 'newsletter-footer' %}
        <div class="border-b border-black flex justify-between pb-2 mt-4 lg:mt-5">
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="">{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <input name="contact[tags]" type="hidden" value="prospect,newsletter">
            <input type="hidden" name="contact[context]" value="footer">
            <input class="placeholder-neutral-800 text-sm" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your e-mail" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
            <button aria-label="Subscribe to email newsletter" id="subscribe" name="commit" type="submit">
              <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.2254 0H0.860199C0.384399 0 0 0.385937 0 0.863637V18.1363C0 18.614 0.384399 19 0.860199 19H23.2254C23.7012 19 24.0856 18.614 24.0856 18.1363V0.863637C24.0856 0.385937 23.7012 0 23.2254 0ZM22.15 2.99104V17.0575H1.93528V2.99104L1.19336 2.41078L1.19414 2.40977L1.93236 2.98713L11.115 10.1553C11.6582 10.579 12.4185 10.579 12.9617 10.1553L22.1497 2.98983L22.8917 2.40957L21.8369 1.04882L21.8382 1.04785L22.8946 2.41078L22.15 2.99104ZM20.6824 1.94658L20.6874 1.94267L21.8352 1.04665L21.8369 1.04882L20.6876 1.94658H20.6824ZM20.6824 1.94658L12.0424 8.68983L3.40239 1.94658H20.6824ZM3.40239 1.94658H3.40032L2.2498 1.04785L1.19414 2.40977L1.19043 2.40687L2.24687 1.04395L3.39739 1.94267L3.40239 1.94658Z" fill="black"/>
              </svg>
            </button>
          {% endif %}
        </div>
      {% endform %}
    </div>
    <div class="flex lg:hidden mt-8 mb-16 justify-center [&>*]:mx-3 [&>*]:h-5 [&>*]:w-5">
      <a class="flex items-center" href="https://www.facebook.com/ubuntulifekenya" rel="noopener noreferrer" target="_blank">
        <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.0392 0.506013C11.0392 0.229873 10.8146 0.00601312 10.5375 0.00601312H8.02856C5.39852 -0.124528 3.1565 1.88611 3.01071 4.50601V7.20601H0.501785C0.224657 7.20601 0 7.42987 0 7.70601V10.3061C0 10.5822 0.224657 10.8061 0.501785 10.8061H3.01071V17.5061C3.01071 17.7822 3.23537 18.0061 3.5125 18.0061H6.5232C6.80033 18.0061 7.02499 17.7822 7.02499 17.5061V10.8061H9.65434C9.8839 10.8093 10.0864 10.657 10.1461 10.4361L10.8686 7.83601C10.9091 7.68629 10.8776 7.52633 10.7832 7.40298C10.6889 7.27964 10.5425 7.20688 10.3869 7.20601H7.02499V4.50601C7.07671 3.99311 7.51124 3.60343 8.02856 3.60601H10.5375C10.8146 3.60601 11.0392 3.38216 11.0392 3.10601V0.506013Z" fill="black"/>
        </svg>
      </a>
      <a class="flex items-center" href="https://twitter.com/ubuntulifekenya" rel="noopener noreferrer" target="_blank">
        <svg width="23" height="19" viewBox="0 0 23 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.7871 2.18967C21.9491 2.55967 21.0489 2.80967 20.1025 2.92267C21.079 2.34046 21.8095 1.42414 22.1578 0.34467C21.2404 0.88766 20.2363 1.26987 19.1893 1.47467C17.7415 -0.0656296 15.4356 -0.444179 13.5685 0.55193C11.7014 1.54803 10.7391 3.67011 11.2229 5.72467C7.4635 5.53659 3.96092 3.76717 1.58664 0.856671C1.18521 1.54667 0.954394 2.34667 0.954394 3.19867C0.953484 4.7564 1.73374 6.21157 3.03378 7.07667C2.29142 7.05313 1.56544 6.85326 0.916254 6.49367V6.55367C0.916104 8.77164 2.48481 10.6823 4.66659 11.1216C3.97793 11.3073 3.25591 11.3347 2.55508 11.2016C3.16718 13.0993 4.92256 14.3991 6.92261 14.4356C5.26656 15.731 3.22134 16.4337 1.11596 16.4306C0.743023 16.4307 0.370393 16.409 0 16.3656C2.13707 17.7348 4.62478 18.4615 7.16548 18.4586C15.7661 18.4586 20.4678 11.3606 20.4678 5.20467C20.4678 5.00467 20.4628 4.80267 20.4538 4.60267C21.3683 3.94365 22.1577 3.12757 22.785 2.19267L22.7871 2.18967Z" fill="black"/>
        </svg>
      </a>
      <a class="flex items-center" href="https://www.instagram.com/ubuntu.life" rel="noopener noreferrer" target="_blank">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.40673 0.055C6.38772 0.01 6.7005 0 9.19938 0C11.6983 0 12.0111 0.010833 12.9912 0.055C13.9714 0.099167 14.6404 0.255004 15.2259 0.480834C15.8389 0.711664 16.395 1.0725 16.855 1.53916C17.3233 1.99666 17.6846 2.55 17.9154 3.16166C18.1429 3.745 18.2984 4.41166 18.3436 5.38666C18.3888 6.36583 18.3988 6.6775 18.3988 9.1667C18.3988 11.6567 18.3879 11.9683 18.3436 12.9458C18.2993 13.9208 18.1429 14.5875 17.9154 15.1708C17.6846 15.7826 17.3227 16.3368 16.855 16.795C16.395 17.2617 15.8389 17.6217 15.2259 17.8517C14.6404 18.0783 13.9714 18.2333 12.9929 18.2783C12.0111 18.3233 11.6983 18.3333 9.19938 18.3333C6.7005 18.3333 6.38772 18.3225 5.40673 18.2783C4.42825 18.2342 3.7592 18.0783 3.17379 17.8517C2.55987 17.6216 2.00364 17.261 1.54383 16.795C1.07581 16.3372 0.713633 15.7832 0.482549 15.1717C0.25591 14.5883 0.100357 13.9217 0.055196 12.9467C0.010035 11.9675 0 11.6558 0 9.1667C0 6.67666 0.010872 6.365 0.055196 5.38833C0.09952 4.41166 0.25591 3.745 0.482549 3.16166C0.713974 2.55006 1.07643 1.99609 1.54466 1.53833C2.00383 1.07208 2.5595 0.711204 3.17295 0.480834C3.75837 0.255004 4.42741 0.1 5.40589 0.055H5.40673ZM12.9165 1.70518C11.9464 1.66102 11.6554 1.65185 9.19908 1.65185C6.74285 1.65185 6.45181 1.66102 5.4817 1.70518C4.58434 1.74602 4.09761 1.89518 3.77312 2.02102C3.34409 2.18768 3.03717 2.38518 2.71519 2.70602C2.40998 3.00189 2.17509 3.36209 2.02775 3.76018C1.90146 4.08352 1.75177 4.56852 1.71079 5.46268C1.66646 6.42935 1.65726 6.71935 1.65726 9.1669C1.65726 11.6144 1.66646 11.9044 1.71079 12.871C1.75177 13.7652 1.90146 14.2502 2.02775 14.5735C2.17494 14.971 2.40994 15.3319 2.71519 15.6277C3.01208 15.9319 3.3742 16.166 3.77312 16.3127C4.09761 16.4385 4.58434 16.5877 5.4817 16.6285C6.45181 16.6727 6.74201 16.6819 9.19908 16.6819C11.6562 16.6819 11.9464 16.6727 12.9165 16.6285C13.8139 16.5877 14.3006 16.4385 14.6251 16.3127C15.0541 16.146 15.361 15.9485 15.683 15.6277C15.9883 15.3319 16.2233 14.971 16.3705 14.5735C16.4967 14.2502 16.6464 13.7652 16.6874 12.871C16.7317 11.9044 16.7409 11.6144 16.7409 9.1669C16.7409 6.71935 16.7317 6.42935 16.6874 5.46268C16.6464 4.56852 16.4967 4.08352 16.3705 3.76018C16.2032 3.33268 16.005 3.02685 15.683 2.70602C15.3861 2.40191 15.0246 2.16786 14.6251 2.02102C14.3006 1.89518 13.8139 1.74602 12.9165 1.70518ZM8.02449 11.9924C9.37777 12.5537 10.9405 12.0829 11.755 10.8684C12.5694 9.654 12.408 8.03514 11.3698 7.00406C10.4919 6.12984 9.17195 5.8685 8.02532 6.34187C6.8787 6.81524 6.13104 7.93013 6.13086 9.1669C6.13068 10.4036 6.878 11.5187 8.02449 11.9924ZM5.85565 5.8352C7.05019 4.64491 8.79127 4.18005 10.4231 4.61573C12.0548 5.0514 13.3294 6.32143 13.7666 7.9474C14.2039 9.5734 13.7373 11.3082 12.5428 12.4985C10.6962 14.3386 7.70225 14.3386 5.85565 12.4985C4.00906 10.6585 4.00906 7.67523 5.85565 5.8352ZM14.9772 5.15659C15.2735 4.87813 15.3944 4.46121 15.2928 4.06823C15.1912 3.67525 14.8832 3.36839 14.4889 3.26717C14.0945 3.16596 13.6761 3.2864 13.3966 3.58159C12.9816 4.02 12.9916 4.70779 13.4193 5.13396C13.847 5.56013 14.5373 5.57015 14.9772 5.15659Z" fill="black"/>
        </svg>
      </a>
      <a class="flex items-center" href="https://www.linkedin.com/company/ubuntulife" rel="noopener noreferrer" target="_blank">
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.45522 6.96883H11.1824V8.81883C11.7193 7.75483 13.0962 6.79883 15.1646 6.79883C19.1297 6.79883 20.071 8.91683 20.071 12.8028V19.9998H16.0568V13.6878C16.0568 11.4748 15.5199 10.2268 14.153 10.2268C12.2573 10.2268 11.4695 11.5718 11.4695 13.6868V19.9998H7.45522V6.96883ZM0.572348 19.8298H4.58662V6.79883H0.572348V19.8298ZM5.16136 2.55C5.16166 3.22724 4.88946 3.87633 4.40567 4.352C3.92034 4.83262 3.26342 5.10165 2.57917 5.1C1.89613 5.09954 1.24072 4.8312 0.754688 4.353C0.272716 3.87578 0.001173 3.22704 0 2.55C0 1.873 0.270963 1.225 0.755688 0.747C1.2413 0.268158 1.89699 -0.000299211 2.58018 2.50265e-07C3.26461 2.50265e-07 3.92095 0.269 4.40567 0.747C4.88939 1.225 5.16136 1.873 5.16136 2.55Z" fill="black"/>
        </svg>
      </a>
      <a class="flex items-center" href="https://www.youtube.com/user/ComfortTheChildren" rel="noopener noreferrer" target="_blank">
        <svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7722 0.449045C19.6812 0.698145 20.391 1.41976 20.6351 2.34315C21.075 4.01274 21.075 7.5 21.075 7.5C21.075 7.5 21.075 10.9873 20.6351 12.6568C20.3928 13.5788 19.6802 14.3049 18.7722 14.551C17.1281 15 10.5375 15 10.5375 15C10.5375 15 3.94685 15 2.30272 14.551C1.39716 14.3049 0.682116 13.5788 0.439846 12.6568C-2.98023e-08 10.9873 0 7.5 0 7.5C0 7.5 -2.98023e-08 4.01274 0.439846 2.34076C0.683216 1.41691 1.39327 0.694964 2.30272 0.446656C3.94685 0 10.5375 0 10.5375 0C10.5375 0 17.1281 0 18.7722 0.449045ZM8.44434 4.29932V10.7006L13.9013 7.47607L8.44434 4.29932Z" fill="black"/>
        </svg>
      </a>
    </div>
  </div>
  <p class="text-neutral-800 w-full text-center text-xs mb-4 lg:hidden">Copyright © 2022 Ubuntu Life</p>
</footer>

<script>
{
  function toggleLinkDropdown(dropdownWrapper, listElId) {
    let el = document.getElementById(listElId);
    el.classList.toggle("hidden");
    el.classList.toggle("flex");

    dropdownWrapper.querySelector("svg").classList.toggle("rotate-180");
  }
}
</script>

{% schema %}
{
  "name": "Footer",
  "settings": [],
  "blocks": [
    {
      "name": "Footer Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image to show in footer"
        }
      ]
    }
  ]
}
{% endschema %}