<div class="relative w-screen h-[calc(100vh-var(--header-offset))] max-h-[40rem] lg:max-h-[52rem] lg:p-4 xl:p-6 max-w-screen-2xl 2xl:mx-auto" id="hero-section">
  <div class="swiper w-full h-full overflow-hidden">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == "slide" %}
          <div class="swiper-slide w-full h-full">
            <picture>
              <source media="(min-width: 2560px)" srcset="{{ block.settings.image | image_url: width: 3840 }}">
              <source media="(min-width: 1280px)" srcset="{{ block.settings.image | image_url: width: 2560 }}">
              <source media="(min-width: 640px)" srcset="{{ block.settings.image | image_url: width: 1280 }}">
              <source media="(max-width: 639px)" srcset="{{ block.settings.mobile_image | image_url: width: 640 }}">
              <img 
                class="w-full h-full object-cover"
                src="{{ block.settings.image | image_url: width: 2560 }}" 
                alt="{{ block.settings.image.alt }}">
            </picture>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="swiper-pagination [&>*]:w-5 [&>*]:h-5 [&>*]:bg-downy-300 [&>*]:opacity-25 [&>*.swiper-pagination-bullet-active]:opacity-100"></div>
  </div>

  {% if section.settings.enable_text %}
    <div class="absolute flex flex-col {{ section.settings.flex_alignment }} w-5/6 max-w-xs md:max-w-sm lg:max-w-xl 2xl:max-w-3xl z-10 pointer-events-none {{ section.settings.text_vertical }} {{ section.settings.text_horizontal }}">
      {% for block in section.blocks %}
        {% if block.type == "heading" %}
          {% if block.settings.main_heading %}
            <h1
          {% else %}
            <p
          {% endif %}
            class="{{ block.settings.margin_top }} {{ block.settings.font_weight }} {{ block.settings.font_size }} {% if block.settings.ubuntu_font %}font-ubuntulife{% endif %} {{ block.settings.alignment }}"
            style="color: {{ block.settings.color }};"
            >{{ block.settings.text }}<{% if block.settings.main_heading %}/h1>{% else %}/p>{% endif %}
        {% endif %}
      {% endfor %}

      {% if section.settings.cta_text != "" %}
        <a 
          href="{{ section.settings.cta_url }}" 
          class="pointer-events-auto mt-8 w-11/12 md:w-60 py-3.5 font-black text-xl text-center"
          style="background-color: {{ section.settings.cta_background_color }}; color: {{ section.settings.cta_color }};"
          >{{ section.settings.cta_text }}</a>
      {% endif %}
    </div>
  {% endif %}
</div>


<script defer>
  const heroSwiper = new Swiper("#hero-section .swiper", {
    slidesPerView: 'auto',
    pagination: {
      el: "#hero-section .swiper-pagination",
      type: "bullets",
      clickable: true
    }
  });
</script>

{% schema %}
{
  "name": "Full Width Hero",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_text",
      "label": "Toggle hero header text",
      "default": true
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    },
    {
      "type": "color",
      "id": "cta_color",
      "label": "CTA Color",
      "default": "#262626"
    },
    {
      "type": "color",
      "id": "cta_background_color",
      "label": "CTA Background Color",
      "default": "#60CDCB"
    },
    {
      "type": "select",
      "id": "text_vertical",
      "label": "Vertical text alignment",
      "options": [
        {
          "value": "top-6 md:top-8 xl:top-12",
          "label": "Top"
        },
        {
          "value": "top-1/2 -translate-y-1/2",
          "label": "Middle"
        },
        {
          "value": "bottom-14 xl:bottom-20",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_horizontal",
      "label": "Horizontal text alignment",
      "options": [
        {
          "value": "left-6 md:left-10 xl:left-14",
          "label": "Left"
        },
        {
          "value": "left-1/2 -translate-x-1/2",
          "label": "Middle"
        },
        {
          "value": "right-6 md:right-10 xl:right-14",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "flex_alignment",
      "label": "Item alignment",
      "info": "This aligns the entire items in the text section",
      "options": [
        {
          "value": "items-start",
          "label": "Left"
        },
        {
          "value": "items-center",
          "label": "Center"
        },
        {
          "value": "items-end",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Hero Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "main_heading",
          "label": "Main site header?",
          "info": "Set this heading as the site's main header? NOTE: Don't select this on more than one"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "ubuntu_font",
          "label": "Ubuntu Life Font?"
        },
        {
          "type": "select",
          "id": "font_size",
          "label": "Font size",
          "options": [
            {
              "value": "lg:text-lg 2xl:text-xl",
              "label": "Small"
            },
            {
              "value": "text-xl lg:text-2xl 2xl:text-3xl",
              "label": "Medium"
            },
            {
              "value": "text-2xl lg:text-3xl 2xl:text-4xl",
              "label": "Large"
            },
            {
              "value": "text-4xl lg:text-5xl",
              "label": "Extra Large"
            }
          ]
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "default": "font-medium",
          "options": [
            {
              "value": "font-thin",
              "label": "Thin"
            },
            {
              "value": "font-normal",
              "label": "Normal"
            },
            {
              "value": "font-medium",
              "label": "Medium"
            },
            {
              "value": "font-bold",
              "label": "Bold"
            },
            {
              "value": "font-black",
              "label": "Black"
            }
          ]
        },
        {
          "type": "select",
          "id": "margin_top",
          "label": "Margin on Top",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "0px"
            },
            {
              "value": "mt-1",
              "label": "4px"
            },
            {
              "value": "mt-2",
              "label": "8px"
            },
            {
              "value": "mt-3",
              "label": "12px"
            },
            {
              "value": "mt-5",
              "label": "20px"
            },
            {
              "value": "mt-8",
              "label": "32px"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Full Width Hero"
    }
  ]
}
{% endschema %}