{{ 'hamburger-menu.css' | asset_url | stylesheet_tag }}

<nav id="site-header" class="[&>*]:bg-white relative before:absolute">
  <div class="z-50 sticky top-0 bg-white w-full border-y-4 border-t-candy-400 border-b-downy-300 pt-1"></div>
  <div class="z-50 sticky top-3 bg-white flex items-center justify-end py-3 px-5 h-20">
    <div class="menu-btn" id="toggle-menu-button">
      <div class="menu-btn-burger"></div>
    </div>
    <a href="/" aria-label="go home">
      <img class="h-12 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="{{ 'UL_Logo-Black-BeadedTab_1_5.png?' | file_img_url: '256x' }}" alt="Ubuntu Life Logo">
    </a>
    <a href="/search">
      <svg class="h-5 w-5 mr-2" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6129 13.5523L20.2769 19.2163L19.2164 20.2768L13.5524 14.6128C10.1579 17.4403 5.13976 17.0978 2.16097 13.8352C-0.81782 10.5727 -0.703563 5.54423 2.42034 2.42033C5.54424 -0.703563 10.5727 -0.817819 13.8353 2.16096C17.0979 5.13975 17.4404 10.1578 14.6129 13.5523ZM8.27637 1.52673C4.54845 1.52673 1.52637 4.54881 1.52637 8.27673C1.5305 12.0029 4.55016 15.0226 8.27637 15.0267C12.0043 15.0267 15.0264 12.0046 15.0264 8.27673C15.0264 4.54881 12.0043 1.52673 8.27637 1.52673Z" fill="black"/>
      </svg>
    </a>
    <a href="/cart">
      <svg class="h-5 w-5" width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7321 5.5V4.8125C14.7321 2.15463 12.5335 0 9.82143 0C7.10931 0 4.91071 2.15463 4.91071 4.8125V5.5H0V19.25C0 20.7688 1.25634 22 2.80612 22H16.8367C18.3865 22 19.6428 20.7688 19.6428 19.25V5.5H14.7321ZM9.82213 1.375C11.7593 1.375 13.3297 2.91402 13.3297 4.8125V5.5H6.31445V4.8125C6.31445 2.91402 7.88488 1.375 9.82213 1.375ZM18.241 6.875H1.40429V19.25C1.40429 20.0094 2.03246 20.625 2.80735 20.625H16.8379C17.6128 20.625 18.241 20.0094 18.241 19.25V6.875Z" fill="black"/>
      </svg>
    </a>
  </div>
  <div id="mobile-navigation-pane" class="mobile-navigation-pane relative z-40 flex-col hidden animate-slide-in-h min-h-[calc(100vh-92px)] p-4 pb-12 font-medium text-neutral-800">
    {% for link in linklists.main-navigation.links %}
      <div class="flex justify-between items-center py-2 border-b border-neutral-400" onclick="toggleMainPane(); toggleChildPane('{{ link.title | downcase }}');">
        <p class="uppercase text-lg">{{ link.title }}</p>
        {% if link.links != blank %}
          <svg class="mr-1" width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.1113 9.47056C0.0399466 9.39683 0 9.29785 0 9.19479C0 9.09173 0.0399466 8.99276 0.1113 8.91903L4.09772 4.79166L0.1113 0.665123C0.0399466 0.591403 0 0.492425 0 0.389363C0 0.286301 0.0399466 0.187327 0.1113 0.1136C0.145983 0.077648 0.18745 0.049074 0.233254 0.029563C0.279058 0.010052 0.328271 0 0.377988 0C0.427705 0 0.476918 0.010052 0.522722 0.029563C0.568527 0.049074 0.609994 0.077648 0.644676 0.1136L4.88387 4.50352C4.95833 4.58061 5 4.68401 5 4.79166C5 4.89932 4.95833 5.00272 4.88387 5.07981L0.644676 9.46973C0.609994 9.50568 0.568527 9.53426 0.522722 9.55377C0.476918 9.57328 0.427705 9.58333 0.377988 9.58333C0.328271 9.58333 0.279058 9.57328 0.233254 9.55377C0.18745 9.53426 0.145983 9.50568 0.1113 9.46973V9.47056Z" fill="black"/>
        </svg>
        {% endif %}
      </div>
    {% endfor %}
    <p class="font-bold mt-9">BEST SELLERS</p>
    <div class="flex overflow-x-scroll pb-2">
      {% for block in section.blocks %}
        {% if block.type == "mobile_featured" %}
          <a class="flex flex-col items-center mr-3" href="{{ block.settings.collection.url }}">
            <img class="min-w-[14rem] w-56 min-h-[15rem] h-60 object-cover" src="{{ block.settings.collection.image | image_url: width: 256 }}" alt="{{ block.settings.collection.title }} cover photo">
            <p class="mt-2">{{ block.settings.title }}</p>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <!-- Sub-panes -->
  {% for link in linklists.main-navigation.links %}
    {% if link.links != blank %}
      <div id="mobile-navigation-pane-{{ link.title | downcase }}" class="mobile-navigation-pane relative z-40 flex-col hidden animate-slide-in-h min-h-[calc(100vh-92px)] p-4 pl-7 pb-12 font-medium text-neutral-800">
        <div class="flex justify-between items-center" onclick="toggleMainPane(); toggleChildPane('{{ link.title | downcase }}');">
          <svg class="-ml-3 mb-1 rotate-180" width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.1113 9.47056C0.0399466 9.39683 0 9.29785 0 9.19479C0 9.09173 0.0399466 8.99276 0.1113 8.91903L4.09772 4.79166L0.1113 0.665123C0.0399466 0.591403 0 0.492425 0 0.389363C0 0.286301 0.0399466 0.187327 0.1113 0.1136C0.145983 0.077648 0.18745 0.049074 0.233254 0.029563C0.279058 0.010052 0.328271 0 0.377988 0C0.427705 0 0.476918 0.010052 0.522722 0.029563C0.568527 0.049074 0.609994 0.077648 0.644676 0.1136L4.88387 4.50352C4.95833 4.58061 5 4.68401 5 4.79166C5 4.89932 4.95833 5.00272 4.88387 5.07981L0.644676 9.46973C0.609994 9.50568 0.568527 9.53426 0.522722 9.55377C0.476918 9.57328 0.427705 9.58333 0.377988 9.58333C0.328271 9.58333 0.279058 9.57328 0.233254 9.55377C0.18745 9.53426 0.145983 9.50568 0.1113 9.46973V9.47056Z" fill="black"/>
          </svg>
          <p class="py-2 border-b border-neutral-400 w-full uppercase text-lg">{{ link.title }}</p>
        </div>
        {% for child_link in link.links %}
          <p class="uppercase font-bold mt-3 text-lg">{{ child_link.title }}</p>
          {% if child_link.links != blank %}
            <div class="flex flex-col">
              {% for grandchild_link in child_link.links %}
                <a href="{{ grandchild_link.url }}" class="mt-4 last:mb-4">{{ grandchild_link.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="flex overflow-x-scroll pb-2">
          {% for block in section.blocks %}
            {% assign submenu_title = block.settings.submenu_title | downcase %}
            {% assign link_title = link.title | downcase %}
            {% if block.type == "submenu_featured" and submenu_title == link_title %}
              <a class="flex flex-col items-center mr-3" href="{{ block.settings.collection.url }}">
                <img class="min-w-[14rem] w-56 min-h-[15rem] h-60 object-cover" src="{{ block.settings.collection.image | image_url: width: 256 }}" alt="{{ block.settings.collection.title }} cover photo">
                <p class="mt-2">{{ block.settings.title }}</p>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</nav>

<script defer>
  {
    const menuBtn = document.getElementById("toggle-menu-button");

    let menuOpen = false;
    menuBtn.addEventListener("click", () => {
      if (!menuOpen) {
        menuBtn.classList.add('open');
        toggleMainPane(true);
        menuOpen = true;
      } else {
        menuBtn.classList.remove('open');
        toggleAllNavPanes(false);
        menuOpen = false;
      }
    });

    window.addEventListener("resize", () => {
      if (window.innerWidth >= 1024 && menuOpen == true) {
        menuBtn.classList.remove('open');
        toggleAllNavPanes(false);
        menuOpen = false;
      }
    });

    function toggleMainPane(toOpen) {
      const navPane = document.getElementById("mobile-navigation-pane");

      if (toOpen !== undefined) {
        if (toOpen) {
          navPane.classList.add("flex");
          navPane.classList.remove("hidden");
        } else {
          navPane.classList.remove("flex");
          navPane.classList.add("hidden");
        }
      } else {
        navPane.classList.toggle("flex");
        navPane.classList.toggle("hidden");
      }
    }

    function toggleChildPane(paneId, toOpen) {
      const navPane = document.getElementById(`mobile-navigation-pane-${paneId}`);

      if (toOpen !== undefined) {
        if (toOpen) {
          navPane.classList.add("flex");
          navPane.classList.remove("hidden");
        } else {
          navPane.classList.remove("flex");
          navPane.classList.add("hidden");
        }
      } else {
        navPane.classList.toggle("flex");
        navPane.classList.toggle("hidden");
      }
    }

    function toggleAllNavPanes(toOpen) {
      document.querySelectorAll(".mobile-navigation-pane").forEach((el) => {
        if (toOpen !== undefined) {
          if (toOpen) {
            el.classList.add("flex");
            el.classList.remove("hidden");
          } else {
            el.classList.remove("flex");
            el.classList.add("hidden");
          }
        } else {
          el.classList.toggle("flex");
          el.classList.toggle("hidden");
        }
      })
    }
  }
</script>

{% schema %}
{
  "name": "Header",
  "settings": [],
  "blocks": [
    {
      "name": "Mobile Featured",
      "type": "mobile_featured",
      "settings": [
        {
         "type": "collection",
          "id": "collection",
          "label": "Collection",
          "info": "Collection to showcase"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title for collection link"
        }
      ]
    },
    {
      "name": "Submenu Featured",
      "type": "submenu_featured",
      "settings": [
        {
          "type": "text",
          "id": "submenu_title",
          "label": "Submenu title",
          "info": "Match this to the submenu's title you'd like this to attach to"
        },
        {
         "type": "collection",
          "id": "collection",
          "label": "Collection",
          "info": "Collection to showcase"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title for collection link"
        }
      ]
    }
  ]
}
{% endschema %}