<section id="index-shop-category-section" class="flex flex-col items-center mt-14">
  <h2 class="text-3xl lg:text-4xl text-neutral-800 font-black">{{ section.settings.header }}</h2>
  <p class="text-center mt-3 max-w-sm lg:max-w-lg mx-4">{{ section.settings.text }}</p>
  <div class="swiper mt-14 w-screen overflow-hidden">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide w-72 lg:w-96 sm:first:ml-4 sm:last:mr-4 flex flex-col items-center">
          <img class="w-full aspect-square object-cover" src="{{ block.settings.collection.image | image_url: width: 768 }}" alt="Category cover photo">
          <p class="mt-2 font-black text-2xl text-neutral-800">{{ block.settings.collection.title }}</p>
          <a class="mt-2 text-downy-300 underline" href="{{ block.settings.collection.url }}">SHOP NOW</a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const heroSwiper = new Swiper("#index-shop-category-section .swiper", {
      spaceBetween: 16,
      slidesPerView: 'auto',
      centeredSlides: true,
      breakpoints: {
        640: {
          centeredSlides: false
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Index Shop Category",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header Copy"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "pane",
      "settings": [
        {
         "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}