<section id="index-shop-category-section" class="mt-20 mb-10 flex flex-col items-center">
  <h2 class="text-3xl lg:text-4xl text-neutral-800 font-black">{{ section.settings.header }}</h2>
  <p class="text-center mt-3 max-w-sm lg:max-w-lg mx-4">{{ section.settings.text }}</p>
  <div class="swiper mt-12 w-screen">
    <svg class="swiper-button-prev hidden sm:block w-6 h-6 -rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>
    <div class="swiper-wrapper flex-grow">
      {% for block in section.blocks %}
        <a href="{{ block.settings.collection.url }}" class="swiper-slide w-72 lg:w-96 sm:first:ml-4 sm:last:mr-4 flex flex-col items-center">
          {% if block.settings.image %}
            <img class="w-full aspect-square object-cover border border-downy-300" src="{{ block.settings.image | image_url: width: 384 }}" alt="Category cover photo">
          {% else %}
            <img class="w-full aspect-square object-cover border border-downy-300" src="{{ block.settings.collection.image | image_url: width: 384 }}" alt="Category cover photo">
          {% endif %}
          {% if block.settings.text != "" %}
            <p class="mt-2 font-black text-2xl text-neutral-800">{{ block.settings.text }}</p>
          {% else %}
            <p class="mt-2 font-black text-2xl text-neutral-800">{{ block.settings.collection.title }}</p>
          {% endif %}
          <p class="mt-2 text-downy-300 border-b border-downy-300">SHOP NOW</p>
        </a>
      {% endfor %}
    </div>
    <svg class="swiper-button-next hidden sm:block w-6 h-6 rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const heroSwiper = new Swiper("#index-shop-category-section .swiper", {
      spaceBetween: 16,
      slidesPerView: 'auto',
      centeredSlides: true,
      centerInsufficientSlides: true,
      breakpoints: {
        640: {
          centeredSlides: false,
          navigation: {
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next",
          }
        }
      },
      on: {
        lock: function () {
          document.querySelector("#index-shop-category-section .swiper .swiper-button-prev").style.display = "none";
          document.querySelector("#index-shop-category-section .swiper .swiper-button-next").style.display = "none";
        },
        unlock: function () {
          document.querySelector("#index-shop-category-section .swiper .swiper-button-prev").style.display = "block";
          document.querySelector("#index-shop-category-section .swiper .swiper-button-next").style.display = "block";
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Index Shop Category",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header Copy"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "pane",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Pane Image",
          "info": "Overrides the category image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Override Category Title"
        }
      ]
    }
  ]
}
{% endschema %}