<section id="index-featured-grid" class="mt-16 mb-10 px-4 flex flex-col md:grid md:grid-cols-2 md:gap-5 max-w-[100rem] md:mx-auto items-center">
  {% for block in section.blocks %}
    <div class="mt-2 md:mt-0 group relative w-full cursor-default">
      <picture>
        <source media="(min-width: 640px)" srcset="{{ block.settings.image | image_url: width: 768 }}">
        <source media="(max-width: 639px)" srcset="{{ block.settings.image | image_url: width: 640 }}">
        <img 
          class="w-full h-[36rem] md:h-[44rem] object-cover group-hover:border border-downy-300" 
          src="{{ block.settings.image | image_url: width: 768 }}" 
          alt="{{ block.settings.image.alt }}">
      </picture>
      <div class="absolute top-11 left-3 md:left-11 flex flex-col">
        <p class="font-black text-3xl w-48 md:text-neutral-800">{{ block.settings.header }}</p>
        <a href="{{ block.settings.url }}" class="w-fit mt-8 py-3 px-6 font-black bg-white hover:bg-downy-300">SHOP NOW</a>
      </div>  
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Index Featured Grid",
  "settings": [],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL",
          "info": "Url the btn links to"
        }
      ]
    }
  ]
}
{% endschema %}