<section id="index-hero-section" class="flex flex-col md:flex-row md:min-h-[calc(100vh-var(--header-offset))] md:h-[calc(100vh-var(--header-offset))] items-center">
  <div class="flex flex-col items-center lg:items-start w-11/12 max-w-xs mt-5 md:mt-0 md:flex-grow md:mx-10 lg:mx-20">
    {% if section.settings.pre_header != "" %}
      <p class="font-ubuntulife font-bold text-xl">{{ section.settings.pre_header }}</p>
    {% endif %}
    {% if section.settings.header != "" %}
      <h1 class="font-black text-4xl text-neutral-800 text-center lg:text-left">{{ section.settings.header }}</h1>
    {% endif %}
    {% if section.settings.text != "" %}
      <p class="font-medium text-neutral-800 text-center lg:text-left mt-2">{{ section.settings.text }}</p>
    {% endif %}
    {% if section.settings.show_cta %}
      <a href="{{ section.settings.cta_link }}" class="mt-8 w-11/12 lg:w-3/5 py-4 border border-black font-black text-xl text-neutral-800 text-center">{{ section.settings.cta }}</a>
    {% endif %}
  </div>
  <div class="swiper mt-10 md:mt-0 w-screen overflow-hidden md:flex-grow md:h-full md:py-10 2xl:py-16">
    <svg onclick="heroSwiper.slidePrev(300)" class="swiper-button-prev hidden lg:block cursor-pointer w-6 h-6 -rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <a href="{{ block.settings.url }}" class="swiper-slide relative w-48 sm:w-60 md:w-80 2xl:w-96 h-80 sm:h-96 md:h-full flex flex-col justify-end lg:hover:border-2 border-downy-300">
          <picture>
            <source media="(min-width: 1536px)" srcset="{{ block.settings.image | image_url: width: 384 }}">
            <source media="(min-width: 768px)" srcset="{{ block.settings.image | image_url: width: 320 }}">
            <source media="(min-width: 640px)" srcset="{{ block.settings.image | image_url: width: 240 }}">
            <source media="(max-width: 639px)" srcset="{{ block.settings.image | image_url: width: 200 }}">
            <img 
              class="absolute top-0 left-0 w-full 2xl:max-w-xl h-full object-cover lg:p-0.5 lg:hover:p-0" 
              src="{{ block.settings.image | image_url: width: 384 }}" 
              alt="{{ block.settings.image.alt }}">
          </picture>
        </a>
      {% endfor %}
    </div>
    <svg onclick="heroSwiper.slideNext(300)" class="swiper-button-next hidden lg:block cursor-pointer w-6 h-6 rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>
  </div>
</section>

<script>
  let heroSwiper;
  document.addEventListener("DOMContentLoaded", () => {
    heroSwiper = new Swiper("#index-hero-section .swiper", {
      spaceBetween: 16,
      slidesPerView: 'auto',
      centeredSlides: true,
      breakpoints: {
        768: {
          centeredSlides: false,
          navigation: {
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next",
          }
        }
      },
      on: {
        lock: function () {
          document.querySelector("#index-hero-section .swiper .swiper-button-prev").style.display = "none";
          document.querySelector("#index-hero-section .swiper .swiper-button-next").style.display = "none";
        },
        unlock: function () {
          document.querySelector("#index-hero-section .swiper .swiper-button-prev").style.display = "block";
          document.querySelector("#index-hero-section .swiper .swiper-button-next").style.display = "block";
        }
      }
    });

    if (window.screen.width >= 640 && window.screen.width < 768 ) {
      heroSwiper.slideTo(1);
    }
  });
</script>

{% schema %}
{
  "name": "Index Hero",
  "settings": [
    {
      "type": "text",
      "id": "pre_header",
      "label": "Pre Header Copy"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header Copy"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Smaller Sub Copy"
    },
    {
      "type": "checkbox",
      "id": "show_cta",
      "label": "Show CTA",
      "default": true
    },
    {
      "type": "text",
      "id": "cta",
      "label": "CTA Copy"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    }
  ],
  "blocks": [
    {
      "name": "Carousel Pane",
      "type": "pane",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image for Pane"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Pane URL"
        }
      ]
    }
  ]
}
{% endschema %}