{%- assign blog = blogs[section.settings.blog] -%}

<section id="index-articles" class="mt-14 lg:my-20 2xl:my-36 flex flex-col lg:grid lg:grid-cols-3 items-center px-6 max-w-xl mx-auto lg:max-w-none lg:w-11/12 xl:w-5/6 2xl:max-w-screen-2xl">
  <p class="w-full lg:hidden text-2xl text-neutral-800 font-black">RECENT ARTICLES</p>
  {% for article in blog.articles limit: 1 %}
    <a href="{{ article.url }}" class="lg:col-span-1 lg:h-full mt-6 lg:mt-0 border-b lg:border-b-0 border-black flex flex-col relative overflow-hidden">
      <img
        class="w-full max-h-[32rem] lg:max-h-[unset] lg:h-full object-cover"
        src="{{ article.image | image_url: width: 512 }}"
        alt="Article cover photo"
        width="512"
        height="512"
        loading="lazy">
      <div class="flex flex-col lg:justify-end lg:h-full lg:px-4 lg:absolute">
        <p class="font-black text-2xl text-neutral-800 lg:text-white uppercase mt-3">{{ article.title }}</p>
        <p class="mt-3 text-sm lg:text-white">{{ article.published_at }}</p>
        <p class="mt-2 line-clamp-4 lg:text-white">{{ article.excerpt }}</p>
        <p class="my-4 text-downy-300 lg:text-white border-white lg:border-b lg:w-max">READ MORE</p>
      </div>
      <p class="hidden lg:block absolute w-full rotate-45 right-12 translate-x-1/2 top-8 font-black text-white text-center py-2 bg-white bg-opacity-40">NEW READ</p>
    </a>
  {% endfor %}
  <div class="lg:col-span-2 lg:pl-12">
    <p class="hidden lg:block font-black text-4xl text-neutral-800">RECENT ARTICLES</p>
    <div class="flex w-8 h-8 cursor-pointer mx-auto" onclick="changeSlide(-1)">
      <svg id="articles-arrow-back" class="mx-auto my-auto rotate-90" width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.80298 1.3188L1.81088 9.5008L9.80298 17.6829C10.1006 17.9869 10.1006 18.4724 9.80298 18.7764C9.66258 18.9194 9.47038 19 9.26978 19C9.06928 19 8.87707 18.9194 8.73667 18.7764L0.232875 10.0722C-0.077625 9.7543 -0.077625 9.2474 0.232875 8.9295L8.73507 0.225201C8.87557 0.0812007 9.06838 0 9.26978 0C9.47128 0 9.66407 0.0812007 9.80457 0.225201C10.1022 0.529301 10.1022 1.0148 9.80457 1.3188H9.80298Z" fill="currentColor"/>
      </svg>
    </div>
    {% for article in blog.articles limit: section.settings.post_limit %}
      {% unless forloop.first == true %}
        {% assign is_third = forloop.index0 | minus: 1 | modulo: 3 %}
        {% if is_third == 0 %}
          <div class="article-slide relative {% if forloop.index0 != 1 %}hidden{% endif %}">
        {% endif %}
        <a href="{{ article.url }}" class="flex py-6 lg:py-0 lg:pt-4 2xl:pt-6 border-b lg:border-b-0 border-black">
          <img
            class="flex-grow w-32 max-w-[8rem] mr-4 object-cover"
            src="{{ article.image | image_url: height: 200 }}"
            alt="Article cover photo"
            width="128"
            height="128"
            loading="lazy">
          <div class="flex flex-col">
            <p class="font-black text-xl 2xl:text-2xl text-neutral-800">{{ article.title }}</p>
            <p class="text-xs lg:text-sm mt-2 2xl:mt-3">{{ article.published_at }}</p>
            <p class="mt-2 2xl:mt-3 max-h-16 line-clamp-2 2xl:text-lg">{{ article.excerpt }}</p>
            <p class="mt-3 2xl:mt-5 text-downy-300 lg:text-neutral-600 border-neutral-600 lg:border-b lg:w-max">READ MORE</p>
          </div>
        </a>
        {% if is_third == 2 %}
          </div>
        {% endif %}
      {% endunless %}
    {% endfor %}
    <div class="flex w-8 h-8 cursor-pointer mx-auto" onclick="changeSlide(1)">
      <svg id="articles-arrow-forward" class="mx-auto my-auto -rotate-90" width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.80298 1.3188L1.81088 9.5008L9.80298 17.6829C10.1006 17.9869 10.1006 18.4724 9.80298 18.7764C9.66258 18.9194 9.47038 19 9.26978 19C9.06928 19 8.87707 18.9194 8.73667 18.7764L0.232875 10.0722C-0.077625 9.7543 -0.077625 9.2474 0.232875 8.9295L8.73507 0.225201C8.87557 0.0812007 9.06838 0 9.26978 0C9.47128 0 9.66407 0.0812007 9.80457 0.225201C10.1022 0.529301 10.1022 1.0148 9.80457 1.3188H9.80298Z" fill="currentColor"/>
      </svg>
    </div>
  </div>
  <a class="lg:hidden mt-8 w-full py-6 text-xl text-center text-white font-black bg-downy-300" href="/blogs/news">VIEW MORE ARTICLES</a>
</section>

<script>
{
  document.addEventListener("DOMContentLoaded", () => {
    const arrowBack = document.getElementById("articles-arrow-back").classList
    arrowBack.add("text-neutral-400")
    arrowBack.add("opacity-0")
  })

  let index = 0

  function changeSlide(slideShift) {
    console.log('chageslide')

    slides = document.querySelectorAll(".article-slide")

    if (index == 0 && slideShift <= 0) {
      return
    } else if (index == 2 && slideShift >= 0) {
      return
    }

    // Hide the current slide and remove all animations off it
    // Then, add the correct animation to the upcoming slide and
    // unhide it
    slides.item(index).classList.add("hidden")
    slides.item(index).classList.remove("animate-slide-in-tb-10")
    slides.item(index).classList.remove("animate-slide-in-bt-10")

    if (slideShift >= 0) {
      slides.item(index + slideShift).classList.add("animate-slide-in-bt-10")
    } else {
      slides.item(index + slideShift).classList.add("animate-slide-in-tb-10")
    }

    slides.item(index + slideShift).classList.remove("hidden")
    index += slideShift

    const arrowBack = document.getElementById("articles-arrow-back").classList
    const arrowForward = document.getElementById("articles-arrow-forward").classList

    if (index == 0) {
      arrowBack.add("text-neutral-400")
      arrowBack.add("opacity-0")
    } else if (index == 2) {
      arrowBack.remove("opacity-0")
      arrowForward.add("text-neutral-400")
      arrowForward.add("opacity-0")
    } else {
      arrowBack.remove("text-neutral-400")
      arrowBack.remove("opacity-0")
      arrowForward.remove("text-neutral-400")
      arrowForward.remove("opacity-0")
    }
  }
}
</script>

{% schema %}
{
  "name": "Index Articles",
  "settings": [
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "default": 4,
      "min": 4,
      "max": 19,
      "step": 3
    }
  ]
}
{% endschema %}
