<style type="text/css">
  .swiper-button-next, .swiper-button-prev{
    background: transparent;
  }
  .swipper-wrapper {
    position: initial;
  }
  </style>


<section id="cause-section" class="mt-14 flex flex-col items-center">
  {% if section.settings.header != "" %}
    <h4 class="mt-5 text-xl lg:text-3xl font-black text-neutral-800">{{ section.settings.header }}</h4>
  {% endif %}
  {% if section.settings.text != "" %}
    <p class="text-center mt-3 max-w-sm lg:max-w-lg mx-4">{{ section.settings.text }}</p>
  {% endif %}
  {% if section.settings.link_text != "" %}
    <a href="{{ section.settings.link }}" class="border-b border-downy-300 text-downy-300 mt-1 lg:text-lg">{{ section.settings.link_text }}</a>
  {% endif %}


  <div class="swiper w-screen md:max-w-xl mt-5 lg:mt-9 px-4 overflow-hidden lg:max-w-screen-2xl">

    <svg class="swiper-button-prev unset-swiper-styling left-6 xl:left-24 bottom-10 xl:bottom-28 cursor-pointer w-12 h-12 p-4 rounded-full bg-white -rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>
    <svg class="swiper-button-next unset-swiper-styling left-24 xl:left-44 bottom-10 xl:bottom-28 cursor-pointer w-12 h-12 p-4 rounded-full bg-white rotate-90" width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.9588 7.73918L7.49934 1.42968L1.03984 7.73918C0.799808 7.9741 0.416528 7.9741 0.176501 7.73918C0.0636142 7.62834 0 7.47665 0 7.31828C0 7.15992 0.0636142 7.00822 0.176501 6.89739L7.04828 0.183835C7.29924 -0.0612782 7.69944 -0.0612782 7.95039 0.183835L14.8222 6.8961C14.9359 7.00702 15 7.15928 15 7.31828C15 7.47729 14.9359 7.62955 14.8222 7.74047C14.5821 7.9754 14.1989 7.9754 13.9588 7.74047V7.73918Z" fill="black"/>
    </svg>


    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide w-full lg:w-1/3 h-[30rem] lg:h-auto lg:pr-2 lg:pl-2 lg:first:pl-0 lg:last:pr-0">
          <picture>
            <source media="(min-width: 640px)" srcset="{{ block.settings.image | image_url: width: 1280 }}">
            <source media="(max-width: 639px)" srcset="{{ block.settings.image | image_url: width: 640 }}">
            <img 
              class="w-full h-full aspect-square object-cover" 
              src="{{ block.settings.image | image_url: width: 1280 }}" 
              alt="{{ block.settings.image.alt }}"
              loading="lazy">
          </picture>
        </div>
      {% endfor %}
    </div>
    {% comment %} <div class="swiper-pagination [&>*]:w-5 [&>*]:h-5 [&>*]:bg-downy-300 [&>*]:opacity-25 [&>*.swiper-pagination-bullet-active]:opacity-100"> {% endcomment %}
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let init = false;
    let causeSwiper = Swiper;

    function swiperMode() {
      let mobile = window.matchMedia('(min-width: 0px) and (max-width: 1023px)');
      let desktop = window.matchMedia('(min-width: 1024px)');

      // Enable (for mobile)
      if (mobile.matches) {
        if (!init) {
          init = true;
          causeSwiper = new Swiper("#cause-section .swiper", {
            spaceBetween: 16,
            slidesPerView: 'auto',
            navigation: {
              prevEl: ".swiper-button-prev",
              nextEl: ".swiper-button-next",
            }

          });
        }
      } else if (desktop.matches) {
        if (causeSwiper.destroy) {
          causeSwiper.destroy();
        }
        init = false;
      }
    }

    // Run swiperMode on window resize
    window.addEventListener('resize', function() {
      swiperMode();
    })

    // Run on first load
    swiperMode();
  });
</script>

{% schema %}
{
  "name": "Cause",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header Copy"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Blurb Copy"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link URL"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide image"
        }
      ]
    }
  ]
}
{% endschema %}
