<div class="my-8 px-3 md:px-0 grid grid-cols-2 sm:grid-cols-3 gap-3 lg:gap-4 gap-y-5 lg:gap-y-12">
  {% for product in search.results %}
    {% if section.settings.split_variants %}
      {% if product.options_by_name['color'] %}
        {% for color in product.options_by_name['color'].values %}
          {% for variant in product.variants %}
            {% if variant.options contains color %}
              <a href="{{ variant.url }}" class="flex flex-col items-center">
                <div class="group aspect-square relative">
                  <img class="w-full h-full object-cover relative z-0" src="{{ variant.featured_image | image_url: width: 512 }}" alt="{{ product.title }} {{ color }}">
                  {% assign first_occurrence = true %}
                  {% for image in product.images %}
                    {% assign image_alt = image.alt | downcase %}
                    {% assign color_downcase = color | downcase %}
                    {% if image_alt contains color_downcase and image_alt != color_downcase %}
                      {% if first_occurrence %}
                        {% assign first_occurrence = false %}
                      {% else %}
                        <img class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 absolute z-10 top-0 left-0 w-full h-full object-cover" src="{{ image | image_url: width: 512 }}" alt="{{ product.title }} {{ color }} lifestyle image">
                        {% break %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
                <p class="text-xs md:text-sm lg:text-base mt-1.5 lg:mt-8 font-medium text-center">{{ product.title }} - {{ color }}</p>
                <p class="text-xs md:text-sm lg:text-base pt-3 mt-auto">{{ variant.price | money_with_currency }}</p>
              </a>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% else %}
        <a href="{{ product.url }}" class="flex flex-col items-center">
          <div class="group aspect-square relative">
            <img class="w-full h-full object-cover relative z-0" src="{{ product.featured_image | image_url: width: 512 }}" alt="{{ product.title }}">
            {% if product.images[2] %}
              <img class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 absolute z-10 top-0 left-0 w-full h-full object-cover" src="{{ product.images[1] | image_url: width: 512 }}" alt="{{ product.title }} lifestyle image">
            {% endif %}
          </div>
          <p class="text-xs md:text-sm lg:text-base mt-1.5 lg:mt-8 font-medium text-center">{{ product.title }}</p>
          <p class="text-xs md:text-sm lg:text-base pt-3 mt-auto">{{ product.price | money_with_currency }}</p>
        </a>
      {% endif %}
    {% else %}
      <a href="{{ product.url }}" class="flex flex-col items-center">
        <div class="group aspect-square relative">
          <img class="w-full h-full object-cover relative z-0" src="{{ product.featured_image | image_url: width: 512 }}" alt="{{ product.title }}">
          {% if product.images[2] %}
            <img class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 absolute z-10 top-0 left-0 w-full h-full object-cover" src="{{ product.images[1] | image_url: width: 512 }}" alt="{{ product.title }} lifestyle image">
          {% endif %}
        </div>
        <p class="text-xs md:text-sm lg:text-base mt-1.5 lg:mt-8 font-medium text-center">{{ product.title }}</p>
        <p class="text-xs md:text-sm lg:text-base pt-3 mt-auto">{{ product.price | money_with_currency }}</p>
      </a>
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Search Results",
  "settings": [
    {
      "type": "checkbox",
      "id": "split_variants",
      "label": "Split color variants up",
      "info": "Products with color variants will have each variant displayed as it's own product"
    }
  ]
}
{% endschema %}