<div class="md:px-12 max-w-screen-2xl mx-auto">
  <div class="py-8 flex flex-col items-center md:py-12">
    <h1 class="text-3xl font-black text-neutral-600 md:text-4xl">Search</h1>
    <form 
      action="/search" 
      method="get" 
      role="search" 
      class="w-60 md:w-72 px-2 relative flex mt-6 border-b border-black md:px-3 md:mt-8">
      <input type="hidden" name="type" value="product">
      <input 
        type="search" 
        name="q" 
        value="{{ search.terms | escape }}" 
        placeholder="{{ 'general.search.placeholder' | t }}" 
        class="flex-grow p-1 placeholder:text-sm placeholder:text-neutral-400 md:placeholder:text-base md:text-lg" 
        aria-label="{{ 'general.search.placeholder' | t }}">
      <button type="submit" class="pl-3" aria-label="search">
        <svg class="h-5 w-5" width="21" height="21" viewBox="0 0 21 21" aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6129 13.5523L20.2769 19.2163L19.2164 20.2768L13.5524 14.6128C10.1579 17.4403 5.13976 17.0978 2.16097 13.8352C-0.81782 10.5727 -0.703563 5.54423 2.42034 2.42033C5.54424 -0.703563 10.5727 -0.817819 13.8353 2.16096C17.0979 5.13975 17.4404 10.1578 14.6129 13.5523ZM8.27637 1.52673C4.54845 1.52673 1.52637 4.54881 1.52637 8.27673C1.5305 12.0029 4.55016 15.0226 8.27637 15.0267C12.0043 15.0267 15.0264 12.0046 15.0264 8.27673C15.0264 4.54881 12.0043 1.52673 8.27637 1.52673Z" fill="black"/>
        </svg>
      </button>
    </form>
  </div>

  {% if search.performed %}
    <hr>

    <div class="my-8 px-3 md:px-0 grid grid-cols-2 sm:grid-cols-3 gap-3 lg:gap-4 gap-y-5 lg:gap-y-12">
      {% for product in search.results %}
        <a href="{{ product.url }}" class="flex flex-col items-center">
          <div class="group aspect-square relative">
            <img class="w-full h-full object-cover relative z-0" src="{{ product.featured_image | image_url: width: 512 }}" alt="{{ product.title }}">
            <img class="opacity-0 group-hover:opacity-100 transition-opacity duration-200 absolute z-10 top-0 left-0 w-full h-full" src="{{ product.images | last | image_url: width: 512 }}" alt="{{ product.title }} lifestyle image">
          </div>
          <p class="text-xs md:text-sm lg:text-base mt-1.5 lg:mt-8 font-medium text-center">{{ product.title }}</p>
          <p class="text-xs md:text-sm lg:text-base pt-3 mt-auto">{{ product.price | money_with_currency }}</p>
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>